h1{/*どこの何をどうするか*/
  /*文字*/
  color: : #ff0000;/*色を赤に*/
  font-size: 20px;/*大きさを20ピクセルに*/
  font-family: serif;/*フォントを変更。間に空白がある場合""で囲む。例:"Lucida Grande"*/

  /*文字背景*/
  background-color: #dddd;/*色を変更*/

}

Constructionimg{
  /*サイズ*/
  width: 900px;/*横幅*/
  height: 1000px;/*縦幅*/
}
